

<div class="drawer drawer-open mt-0.5" style="box-shadow: 110px 5px 5px white;">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      @if(verDispositivos){
        <app-lista-dispositivos></app-lista-dispositivos>
      }@else if(registrarDispositivo){
        <app-registrar-dispositivo></app-registrar-dispositivo>
      }@else {
        <app-welcome-page></app-welcome-page>
      } 
      <!-- <app-registrar-dispositivo></app-registrar-dispositivo> -->
      <!-- <app-lista-dispositivos></app-lista-dispositivos> -->
    </div> 
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu w-80 min-h-full bg-base-200 text-base-content text-lg p-4">
        <li>
          <details>
            <summary>Dispositivos</summary>
            <ul class="">
              <li><a (click)="verDispositivosClick()" ><i class="fa-solid fa-computer"></i>Dispositivos</a></li>
              <li><a (click)="registrarDispositivoClick()"><i class="fa-regular fa-square-plus"></i>Registrar Dispositivo</a></li>
            </ul>
          </details>
        </li>
      </ul>
    
    </div>
  </div>
 